<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8" lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HumanBrainBox</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.min.css" rel="stylesheet">
	<!--CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Font Awesome CDN -->
	<script src="https://use.fontawesome.com/19a6013401.js"></script>


	<!-- google fonts (Lato) -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and
	admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //-
	Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
				<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
				<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
			<![endif]-->

</head>

<body>
	<div class="header-top">
		<div class="container">
			<div class="header-top-left col-sm-6">
				<div class="region region-header-top-left">
					<div id="block-block-9" class="block block-block">


						<div class="content">
							<div class="section contact-us"><strong>CUSTOMER SERVICE: &nbsp;</strong>801-930-0395</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-top-right col-sm-6">
				<div class="region region-header-top-right">
					<div id="block-menu-menu-header-menu" class="block block-menu">


						<div class="content">
							<ul class="menu clearfix" role="menu">
								<li class="first leaf" role="presentation"><a href="/tryDB" title="" role="menuitem">Try Our Database</a></li>
								<li class="leaf" role="presentation"><a href="/freeTrial" title="" role="menuitem">Free Trial</a></li>

								{{#if user}}
								<li class="last leaf" role="presentation"><a href="/keystone/signout" role="menuitem"></i>Sign Out</a></li>
								{{else}}
								<li class="last leaf" role="presentation"><a href="/keystone/signin" role="menuitem">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</nav>


	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span style="visibility:hidden">Toggle navigation</span>
          <span class="icon-bar" aria-hidden="true"></span>
          <span class="icon-bar" aria-hidden="true"></span>
          <span class="icon-bar" aria-hidden="true"></span>
        </button>
			<div class="brand navbar-brand">
				<a href="/" title="Home" rel="home" id="logo">
              <img src="http://humanbrainbox.com/sites/default/files/hbb_website_logo_2016_is_back_ground_0.png" alt="Home">
            </a>
			</div>
			<div id="site-name-slogan" class="brand navbar-brand ">
				<h1 id="site-name" style="visibility: hidden">
					<strong>
                  <a href="/" title="Home" rel="home"><span>Human Brain Box</span></a>
                </strong>
				</h1>

			</div>
			<!-- /#name-and-slogan -->
		</div>
		<!-- /.navbar-header -->

		<nav class="collapse navbar-collapse " role="navigation">
			<h2 style="visibility: hidden">Main menu</h2>
			<ul class="nav navbar-nav links clearfix" role="menubar">
				<li class="mid-1442 first" role="presentation"><a href="/tryDB" class="first leaf" role="menuitem">DATABASE</a></li>
				<li class="mid-1443" role="presentation"><a href="/websites" title="" class="leaf" role="menuitem">WEBSITES</a></li>
				<li class="mid-1444" role="presentation"><a href="/trainings" title="" class="leaf" role="menuitem">TRAININGS</a></li>
				<li class="mid-1445" role="presentation"><a href="/community" title="" class="leaf" role="menuitem">COMMUNITY</a></li>
				<li class="mid-1764" role="presentation"><a href="/blog" class="leaf" role="menuitem">BLOG</a></li>
				<li class="mid-1464" role="presentation"><a href="/about" class="leaf" role="menuitem">ABOUT</a></li>
				<li class="mid-1465 dropdown clearfix" role="presentation"><span title="" class="expanded nolink" role="button" id="main-menu-dropdown-7" data-toggle="dropdown" aria-haspopup="true">FORMS<span class="caret" aria-hidden="true"></span></span>
					<span style="visibility: hidden">Toggle submenu for FORMS</span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="main-menu-dropdown-7" aria-expanded="false">
							<li class="mid-1557 first" role="presentation"><a href="/request-free-demo" title="" class="first leaf" role="menuitem">Request a Free Demo</a></li>
							<li class="mid-1553" role="presentation"><a href="/start-my-free-trial" title="" class="leaf" role="menuitem">Database 30 Day Free Trial</a></li>
							<li class="mid-1558" role="presentation"><a href="/pro-member-trial" title="" class="leaf" role="menuitem">5 Day Pro Member Trial</a></li>
							<li class="mid-1560" role="presentation"><a href="/become-free-member" title="" class="leaf" role="menuitem">Become a Free Member</a></li>
							<li class="mid-2047" role="presentation"><a href="/industry-leader" title="" class="leaf" role="menuitem">Become a Industry Leader	</a></li>
							<li class="mid-2057" role="presentation"><a href="/mastermind-leader" title="" class="leaf" role="menuitem">Become a Mastermind Leader</a></li>
							<li class="mid-2301 last" role="presentation"><a href="/become-website-customer" title="" class="last leaf" role="menuitem">Become a Website Customer</a></li>
						</ul>
				</li>
				<div class="clearfix visible-xs"></div>
				<li class="mid-1447 last" role="presentation"><a href="/contact" title="" class="last leaf" role="menuitem">CONTACT</a></li>
			</ul>

		</nav>

	</div>





	<div id="body">
		<!--
					Flash messages allow you to display once-off status messages to users, e.g. form
					validation errors, success messages, etc
				-->

		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>
	<div class="container">
		<div id="footer">
			<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
		</div>
	</div>
	{{!-- //- jQuery 1.11.3 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If
	you are not targeting IE8, //- you can upgrade to 2.1.4 (also bundled) for better performance. --}}
	<!-- jQuery first, then Tether, then Bootstrap JS. -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

	</script>
	{{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.5.min.js
	--}} {{{isAdminEditorJS user}}}
	<div class="footer-header">
	</div>
	
	<div id="footer-wrapper">
		<div class="container">
			<div class="footer-columns">
				<div class="region region-footer-firstcolumn">
					<div id="block-menu-menu-footer-menu" class="block block-menu">

						<h2>About</h2>

						<div class="content">
							<ul class="menu clearfix" role="menu"><li class="first leaf" role="presentation"><a href="/node/52" title="" role="menuitem">What is Human Brain Box?</a></li>
								<li class="leaf" role="presentation"><a href="/node/68" title="" role="menuitem">Our Story</a></li>
								<li class="leaf" role="presentation"><a href="/node/203" title="" role="menuitem">FAQs</a></li>
								<li class="last leaf" role="presentation"><a href="/sitemap" title="" role="menuitem">Site Map</a></li>
							</ul>  </div>
					</div>
				</div>
				<div class="region region-footer-secondcolumn">
					<div id="block-block-5" class="block block-block">

						<h2>Contact Us</h2>

						<div class="content">
							<div class="section contact-us">
								<p><strong>SALES SUPPORT: 801-930-0396</strong></p>
								<p><a href="/contact-us"> Contact Us</a></p>
							</div>
						</div>
					</div>
					<div id="block-block-6" class="block block-block">

						<h2>Let's be friends</h2>

						<div class="content">
							<div class="social-icons">
								<ul>
									<li><a href="https://www.facebook.com/HumanBrainBox" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://plus.google.com/+JeffreyCarlston" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="https://www.linkedin.com/in/humanbrainbox" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://www.pinterest.com/humanbrainbox" target="_blank"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="https://twitter.com/humanbrainbox" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.youtube.com/user/HumanBrainBox" target="_blank"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="region region-footer-thirdcolumn">
					<div id="block-block-32" class="block block-block">

						<h2>LINKS</h2>

						<div class="content">
							<div class="four_button">
								<ul>
									<li><a href="/coachingservices">COACHING SERVICE</a> </li>
									<li><a href="/calendar">TRAINING CALENDAR</a></li>
									<li><a href="/request-tech-support">REQUEST TECH SUPPORT</a></li>
									<li><a href="/feedback">FEEDBACK</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="region region-footer-fourthcolumn">
					<div id="block-simplenews-40" class="block block-simplenews">

						<h2>Email Newsletter</h2>

						<div class="content">
							<p>Sign Up for New Content, Updates, Surveys &amp; Offers</p>

							<form class="simplenews-subscribe" action="/pro-member-trial" method="post" id="simplenews-block-form-40" accept-charset="UTF-8" role="form"><div><div class="form-item form-type-textfield form-item-realname form-group">
								<label for="edit-realname">Name <span class="form-required" title="This field is required.">*</span></label>
								<input type="text" id="edit-realname" name="realname" value="" size="20" maxlength="255" class="form-text fa-on required">
							</div>
								<div class="form-item form-type-textfield form-item-mail form-group">
									<label for="edit-mail">E-mail <span class="form-required" title="This field is required.">*</span></label>
									<input class="form-control form-text fa-on required" type="text" id="edit-mail" name="mail" value="" size="20" maxlength="128">
								</div>
								<input type="submit" id="edit-submit--2" name="op" value="Subscribe" class="form-submit btn btn-default btn-primary"><input type="hidden" name="form_build_id" value="form-b8xyfme3cohzjPTpUmjz9WeYHo9SvKJVebihXIcfwso">
								<input type="hidden" name="form_id" value="simplenews_block_form_40">
							</div></form>
							<div class="issues-link"><a href="/newsletter/human-brain-box-newsletter">Previous issues</a></div>


							<a href="/taxonomy/term/40/feed" class="feed-icon" title="Subscribe to Human Brain Box newsletter feed"><img src="http://www.humanbrainbox.com/misc/feed.png" width="16" height="16" alt="Subscribe to Human Brain Box newsletter feed"></a>    </div>
					</div>
				</div>
			</div> <!-- /#footer-columns -->
		</div>
	</div> <!-- /.section, /#footer-wrapper -->
	<div class="clearfix"></div>
	<footer id="footer" role="contentinfo" class="clearfix">
		<div class="container">
			<div class="region region-footer">
				<div id="block-block-8" class="block block-block">


					<div class="content">
						<div class="section"><a href="/start-my-free-trial"><span class="btn btn-default btn-primary"> Start My 30 Day Free Trial </span></a><span> Database 30 Day Free Trial </span> <span> No Strings attached. Don't waste another day, give us a call - you'll be glad you did. </span></div>  </div>
				</div>
			</div>
		</div>
	</footer> <!-- /#footer -->
	<div class="footer-bottom">
		<div class="container">
			<div class="region region-footer-bottom">
				<div id="block-hbb-common-copywrite" class="block block-hbb-common">


					<div class="content">
						Copyright © 2017 Human Brain Box, LLC. All Rights Reserved.  </div>
				</div>
			</div>
		</div>
		
	</div>
</body>

</html>
